/* screen - nft-info-buy-now */

.nft-info-buy-now {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 767px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1280px;
}
.nft-info-buy-now .btn-0PZcXW {
  background: linear-gradient(180deg, #f8d12f 0%, #f0b90b 100%);
  background-color: transparent;
  border-radius: 4px;
  flex-shrink: 1;
  height: 56px;
  margin-left: 0.35px;
  margin-top: 32px;
  position: relative;
  width: 164px;
}
.nft-info-buy-now .buy-now-dSIPRa {
  background-color: transparent;
  bottom: calc(44.90% - 10px);
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(48.98% - 32px);
  text-align: center;
  white-space: nowrap;
  width: 66px;
}
.nft-info-buy-now .by-username-UxZZfc {
  background-color: transparent;
  color: var(--river-bed);
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 18px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 36px;
  white-space: nowrap;
  width: auto;
}
.nft-info-buy-now .create-nft-lxF7LB {
  background-color: transparent;
  bottom: calc(46.95% - 10px);
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(27.23% - 23px);
  text-align: center;
  white-space: nowrap;
  width: 84px;
}
.nft-info-buy-now .created-feb-12-2021-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 22px;
  margin-bottom: -5px;
  margin-left: 0.35px;
  margin-top: 2px;
  min-height: 17px;
  min-width: 129px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.nft-info-buy-now .eth-5AJyKP {
  background-color: transparent;
  color: rgba(42,47,54,0.6);
  flex-shrink: 1;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 7px;
  margin-top: 0.6px;
  min-height: 21px;
  min-width: 30px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.nft-info-buy-now .flex-col-dXBp89 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 91px;
  margin-top: 3.71px;
  min-height: 479px;
  position: relative;
  width: 406px;
}
.nft-info-buy-now .flex-row-0PZcXW {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 29px;
  justify-content: flex-start;
  margin-top: 33px;
  min-width: 51px;
  position: relative;
  width: auto;
}
.nft-info-buy-now .flex-row-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 648px;
  justify-content: flex-start;
  margin-right: 56.0px;
  margin-top: 0px;
  min-width: 1146px;
  position: relative;
  width: auto;
}
.nft-info-buy-now .group-53-EjHLjR {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-end;
  left: 9px;
  min-width: 13px;
  padding: 0 0.0px;
  position: absolute;
  top: 0px;
  width: auto;
}
.nft-info-buy-now .group-54-EjHLjR {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 13px;
  padding: 0.0px 0;
  position: absolute;
  top: 9px;
  width: 19px;
}
.nft-info-buy-now .group-55-MXSlo5 {
  background-color: transparent;
  flex-shrink: 1;
  height: 22px;
  position: relative;
  width: 22px;
}
.nft-info-buy-now .group-56-MXSlo5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 11px;
  margin-top: 0.16px;
  min-width: 84px;
  position: relative;
  width: auto;
}
.nft-info-buy-now .group-57-7uxSGa {
  align-items: center;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 22px;
  justify-content: flex-start;
  margin-bottom: -0.0px;
  min-width: 117px;
  position: relative;
  width: auto;
}
.nft-info-buy-now .group-58-7uxSGa {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 18px;
  justify-content: flex-end;
  margin-left: 10px;
  margin-top: 0.16px;
  min-width: 90px;
  position: relative;
  width: auto;
}
.nft-info-buy-now .group-59-lxF7LB {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 25.00%;
  justify-content: flex-start;
  left: 3.05%;
  min-width: 17.03%;
  position: absolute;
  top: 37.50%;
  width: auto;
}
.nft-info-buy-now .header-signed-in-C61RwL {
  background-color: transparent;
  background-image: url(../img/path-69-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex-shrink: 1;
  height: 88px;
  position: relative;
  width: 1280px;
}
.nft-info-buy-now .koi-power-illustration-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 648px;
  object-fit: cover;
  position: relative;
  width: 648px;
}
.nft-info-buy-now .lorem-ipsum-dol-orem-ipsum-dolo-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 216px;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 31px;
  min-height: 216px;
  position: relative;
  text-align: left;
  width: 406px;
}
.nft-info-buy-now .my-nf-ts-lxF7LB {
  background-color: transparent;
  bottom: calc(46.95% - 10px);
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(18.55% - 12px);
  text-align: center;
  white-space: nowrap;
  width: 64px;
}
.nft-info-buy-now .name-UxZZfc {
  background-color: transparent;
  color: var(--shark);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.nft-info-buy-now .overlap-group-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 60px;
  position: relative;
  width: 107px;
}
.nft-info-buy-now .path-54-EjHLjR {
  background-color: transparent;
  height: 5px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 5px;
}
.nft-info-buy-now .path-55-p0O4eO {
  background-color: transparent;
  flex-shrink: 1;
  height: 11px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 5px;
}
.nft-info-buy-now .path-56-p0O4eO {
  background-color: transparent;
  flex-shrink: 1;
  height: 19px;
  margin-left: 3px;
  margin-top: -0.0px;
  object-fit: cover;
  position: relative;
  width: 5px;
}
.nft-info-buy-now .path-57-qixDwG {
  background-color: transparent;
  flex-shrink: 1;
  height: 5px;
  margin-left: 0.01px;
  margin-top: 3px;
  object-fit: cover;
  position: relative;
  width: 19px;
}
.nft-info-buy-now .path-58-qixDwG {
  background-color: transparent;
  flex-shrink: 1;
  height: 5px;
  margin-left: 0.0px;
  object-fit: cover;
  position: relative;
  width: 11px;
}
.nft-info-buy-now .path-59-xz2T1G {
  background-color: transparent;
  flex-shrink: 1;
  height: 17px;
  margin-left: 0px;
  margin-top: -0.0px;
  object-fit: cover;
  position: relative;
  width: 19px;
}
.nft-info-buy-now .path-60-xz2T1G {
  background-color: transparent;
  flex-shrink: 1;
  height: 17px;
  margin-left: 4px;
  margin-top: -0.0px;
  object-fit: cover;
  position: relative;
  width: 4px;
}
.nft-info-buy-now .path-61-xz2T1G {
  background-color: transparent;
  flex-shrink: 1;
  height: 17px;
  margin-left: 4px;
  margin-top: -0.0px;
  object-fit: cover;
  position: relative;
  width: 16px;
}
.nft-info-buy-now .path-62-xz2T1G {
  background-color: transparent;
  flex-shrink: 1;
  height: 17px;
  margin-left: 2px;
  margin-top: -0.0px;
  object-fit: cover;
  position: relative;
  width: 15px;
}
.nft-info-buy-now .path-63-xz2T1G {
  background-color: transparent;
  flex-shrink: 1;
  height: 17px;
  margin-left: 1px;
  margin-top: -0.0px;
  object-fit: cover;
  position: relative;
  width: 18px;
}
.nft-info-buy-now .path-64-xb1fcg {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 17px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 15px;
}
.nft-info-buy-now .path-65-xb1fcg {
  background-color: transparent;
  flex-shrink: 1;
  height: 18px;
  margin-left: 0px;
  margin-top: -0.0px;
  object-fit: cover;
  position: relative;
  width: 19px;
}
.nft-info-buy-now .path-66-xb1fcg {
  background-color: transparent;
  flex-shrink: 1;
  height: 18px;
  margin-left: 2px;
  margin-top: -0.0px;
  object-fit: cover;
  position: relative;
  width: 19px;
}
.nft-info-buy-now .path-67-xb1fcg {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 17px;
  margin-left: 3px;
  margin-top: 0.0px;
  object-fit: cover;
  position: relative;
  width: 12px;
}
.nft-info-buy-now .path-68-xb1fcg {
  background-color: transparent;
  flex-shrink: 1;
  height: 18px;
  margin-left: 2px;
  margin-top: -0.0px;
  object-fit: cover;
  position: relative;
  width: 15px;
}
.nft-info-buy-now .screen-shot-202-02-at-45837-pm-lxF7LB {
  background-color: transparent;
  border-radius: 3px;
  height: calc(100.00% - 42px);
  object-fit: cover;
  position: absolute;
  right: 39px;
  top: 21px;
  width: 46px;
}
.nft-info-buy-now .span0-vdO42f {
  color: rgba(71,77,87,1.0);
  font-family: 'IBM Plex Sans', Helvetica;
  font-style: italic;
  font-weight: 400;
}
.nft-info-buy-now .span1-vdO42f {
  color: rgba(71,77,87,1.0);
  font-family: 'IBM Plex Sans', Helvetica;
  font-style: italic;
  font-weight: 500;
}
.nft-info-buy-now .x0x1xq15123-lxF7LB {
  background-color: transparent;
  bottom: calc(46.95% - 10px);
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(8.06% - 8px);
  text-align: center;
  white-space: nowrap;
  width: 94px;
}
.nft-info-buy-now .x1-5AJyKP {
  background-color: transparent;
  color: var(--shark);
  flex-shrink: 1;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 29px;
  min-width: 14px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
